PORT=
NODE_ENV=
#REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# PostgreSQL Configutation
POSTGRES_URL=
# nodemail
MAILER_HOST=
MAILER_EMAIL=
MAILER_SECRET_KEY=
MAILER_SERVICE=
#frontend
FRONTEND_URL=
#Keycloak
# Database
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=supersegura123
POSTGRES_PORT=5432

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin123

# Opcional: Puerto local
KEYCLOAK_PORT=8080
