PORT=
NODE_ENV=
#REDIS
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
# PostgreSQL Configutation
POSTGRES_URL=
# nodemail
MAILER_HOST=
MAILER_EMAIL=
MAILER_SECRET_KEY=
MAILER_SERVICE=
#frontend
FRONTEND_URL=